.fly {
    animation: mymove 0.5s infinite;
}

@keyframes mymove {
    50% {
        transform: rotate(360deg);
    }
}

.modal-header {
    border-bottom: 0px;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(0.8, 0.8);
        opacity: 0.0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1.0;
    }
}

.saving {
    animation: zoominoutsinglefeatured .3s 1;
}

body {
    margin-top: 13vh;
    margin-bottom: 50vh;
}

@keyframes xshake_anim {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
        background-color: white
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
        background-color: #00fb59
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
        background-color: #00e7ff
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
        background-color: white
    }
}

.xshake {
    animation: xshake_anim .3s 2;
    animation-timing-function: ease-in-out;
}

@keyframes shakeAnimKeyf {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
        background-color: white
    }
    25% {
        transform: translate(-1px, 2px) rotate(-5deg);
        background-color: #ff002b
    }
    50% {
        transform: translate(-1px, 2px) rotate(5deg);
        background-color: #ff002b
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
        background-color: white;
    }
}

.shakeAnim {
    animation: shakeAnimKeyf .2s 2;
    animation-timing-function: ease-in-out;
}

.button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.bottommenuitem {
    text-align: center;
    height: 100%;
    max-height: 9vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.presearch {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    height: 50px;
}

.cartslider {
    height: 9vh;
}

@media screen and (orientation:landscape) {
    .cartslider {
        height: 18vh;
    }
}

@media screen and (orientation:portrait) {
    .cartslider {
        height: 9vh;
    }
}
