        body {
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
             -khtml-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none;
                    user-select: none;
        }
        
        .product {
            /*height: 60vh;*/
            
        }
        
        .top {
            z-index: 1000;
            position: fixed;
            background-color: white;
            top: 0px;
            left: 0px;
            text-align: center;
            width: 100%;
            /*height: 11vh;*/
            height: 4rem;
            max-height: 4rem;
            min-height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.1s;
            box-shadow:rgb(136 136 136) 1px 0px 5px;
        }


        .basket {
            z-index: 4009;
            position: fixed;
         
        }
        
        .bottom {

      
            box-shadow:rgb(136 136 136) 1px 0px 5px;


            z-index: 1001;
            position: fixed;
            background-color: white;
            /*  bottom: 0px;
    left: 0px;
    width: 100%;
    height: 11vh;
    max-height: 4rem;
    min-height: 3rem;
    */
            text-align: center;
            transition: all 0.3s;
        }
        
        .bottom .min {
            display: flex;
            height: 100%;
            width: 100%;
        }
        
        .bottom .big {
            display: flex;
            height: 100%;
            width: 100%;
            display: none;
            background-color: white
        }
        
        .bottom .min .itm {
            display: flex;
            height:100%;    
            margin: 2px;
            flex-direction:column;
          
            padding: 0.2rem;
        }

        .itm .icon {
        height:100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain
        }

        .itm .txt {
            font-size:80%;
        }
       /* @media screen and (orientation: portrait) */ @media screen and (max-aspect-ratio: 13/9) {


            #itmspliter {
                margin-left:auto;
              
            }

     
            .bottom .min .itm {
                flex-basis: 18vw;
                }


            .landprodtitle {display:none}
            .portprodtitle {display:block}
            .prodtopvasat {align-self: start;}
            .prodlandbox {display: none;}

            .portaddtocart {display: block;}

            .prodgalport {
                width:50vw;margin-right:auto;margin-left:auto;
            }




            .basket , .bottom {
                bottom: 0px;
                left: 0px;
               
                height: 11vh;
                max-height: 4rem;
                min-height: 3rem;
            }


            .bottom {
                width: 100%;
            }

            .basket {
               /* width:  20vh;*/

               padding-left:0.8rem;
               padding-bottom:0.8rem
             
            }

            .bottom .min .cart {
                margin-left: auto;
                background-color: white;
            }
            .bottom .min {
                flex-direction: row;
                justify-content: right;
                align-items: center;
            }
            .top {
                width: 100%;
            }
        }
        
        @media screen and (min-aspect-ratio: 13/9) /* @media screen and (orientation: landscape)*/ {


 .bottom .min .itm {
 flex-basis: 18vh;
 }

 .custompage {display:none}

 #itmspliter {
   
    margin-bottom:auto
}


            .landprodtitle {display:block}
            .portprodtitle {display:none}
            .prodgalport {display:none}
            .prodtopvasat {align-self: center;}
            .prodlandbox {display: flex;}
            .portaddtocart {display: none;}


            .bottom , .basket {
                right: 0px;
                
              
              
                max-width: 10rem;
                min-width: 5rem;
            }



            .basket {

                bottom: 0px;
                width: 11vw;
               /* height: 11vw;*/
               
               
            }


            .bottom {
                top: 0px;
                width: 11vw;
                height: 100%;
              
            }


            .bottom .min {
                flex-direction: column-reverse;
                justify-content: start;
                align-items: center;
            }
            .bottom .min .cart {
                margin-bottom: auto;
                background-color: white;
            }
            .top {
                width: calc(100% - 11vw);
            }
        }
        
        .products {
            margin: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .products>div {
            flex: 0 0 33.33333333%;
            max-width: 33.33333333%;
            padding: 0.1rem;
            text-align:center;
            direction:rtl;
        }

        .products>div img {
          width: 70%;
          max-width:100px;
        }
        

        
        /*@media screen and (orientation: landscape)*/ @media screen and (min-aspect-ratio: 13/9) {
            .products>div {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
        
       /* @media screen and (orientation: portrait) */ @media screen and (max-aspect-ratio: 13/9){
            .products>div {
                flex: 0 0 33.33333333%;
                max-width: 33.33333333%;
            }
        }
        
        .dialog {
            display: none;
        }





        @keyframes shakeAnimKeyf {
            0% {
                transform: translate(0px, 0px) rotate(0deg);
                background-color: white
            }
            25% {
                transform: translate(-1px, 2px) rotate(-5deg);
                background-color: #ff002b
            }
            50% {
                transform: translate(-1px, 2px) rotate(5deg);
                background-color: #ff002b
            }
            100% {
                transform: translate(0px, 0px) rotate(0deg);
                background-color: white;
            }
        }
        

        .shakeAnim {
            animation: shakeAnimKeyf .2s 2;
            animation-timing-function: ease-in-out;
        }



        .cartBtn:focus {
            outline: none;
        }

        .cartBtn {
            background-color: #dc3545;
            border-radius: 0.3rem;
            border-color: #dc3545;
            color: white;
            border:0px;
            font-weight: bold;  
            padding :0.375rem 1.5rem;
            user-select: none;
            outline: none;
        }



        .flyz {
           transition: all 0.5s;
        }
        .flyx {
            animation: mymove 1.5s infinite;
        }
        
        @keyframes mymove {
            50% {
                transform: rotate(360deg);
            }
        }


    


        @keyframes press {
            0% {
              transform: scale(1, 1);
            }
    
            50% {
              transform: scale(1.2, 0.7) /* translate(0px, 50px);*/
            }
    
            100% {
              transform: scale(1, 1) ;
    
            }
          }
    
          .jump {
            animation: press 0.2s ease-out forwards;
          }




         




          @keyframes shakesab {
            0% {
              transform: scale(1, 1);
            }
    
            25% {
              transform: scale(1.2, 0.8)  translate(0px, 5px) rotate(5deg)
              
            }

            50% {
                transform: scale(1.2, 0.9)  translate(0px, 0px) rotate(-5deg)
                
              }
    
            100% {
                transform: scale(1, 1)  translate(0px, 0px) rotate(0deg)
    
            }
          }

          .shakesabad {
            animation: shakesab 0.2s ease-out forwards;
          }





          .counbtox button:focus {
            outline: none;
        }

        .counbtox button {
            background-color: #dc3545;
          
            border-color: #dc3545;
            color: white;
            border:0px;
            font-weight: bold;  
            font-size:100%;
            
            user-select: none;
            outline: none;
            width: 1.3rem;

        }



        .checkoubtn {

            background-color: #007bff;
            border-radius: 0.3rem;
            border-color: #007bff;
            color: white;
            border:0px;
            font-weight: bold;  
            padding :0.375rem 1.5rem;
            user-select: none;
            outline: none;



        }



 .minpt {
    border: 1px solid #ced4da;
   border-radius: 0.25rem;
   font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    transition: box-shadow 0.3s;
 }


 .minpt:focus {
    outline: none;
    box-shadow: rgb(136 136 136) 1px 0px 5px;

}

#searchinputtext:focus {
    outline: none;
   

}


.minpt::placeholder {
    letter-spacing: 0px;

}


.dialogbtn {

    border-radius: 0.3rem;  
    border:0px;
    font-weight: bold;  
    padding :0.375rem 1.5rem;
    user-select: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
   

}


.dialogbtnblue {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.dialogbtngrey {
    border:1px solid;
    background-color: #ffffff;
    border-color: #356292;
    color:#494949
}



span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
  




  .c-animated-background {
    height: 100vh;
   
    background: 
      linear-gradient(90deg,#0000 33%,rgba(107, 107, 107, 0.425) 50%,#0000 66%)
      rgb(235, 235, 235);
    background-size:300% 100%;
    animation: shine 2s infinite;
  }
  
  @keyframes shine {
    0% {
      background-position: right;    
    }
    /*100% {
      background-position: left; it's the default value, no need to define it
    }*/
  }